@import 'variables.scss';

.IndexPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;

  @media #{$media-l} {
    margin-top: 70px;
  }

  @media #{$media-s} {
    margin-top: 50px;
  }
}

.LogoContainerLogo {
  height: 100px;
  margin-right: 30px;
}

.LogoContainerTitle {
  font-family: 'brandon-med';
  font-size: $font-xxl;
}

.TaglineText {
  font-size: $font-xl;
  margin-top: 60px;
  display: flex;
  flex-direction: row;

  @media #{$media-l} {
    margin-top: 40px;
    font-size: $font-l;
  }
}

.Bold {
  font-family: 'brandon-med';
}

.AuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(224,224,224,0.50);
  border-radius: 10px;
  padding: 50px 100px;
  margin-top: 50px;

  @media #{$media-l} {
    padding: 40px 80px;
  }

  @media #{$media-s} {
    padding: 40px 60px;
  }

  @media #{$media-xs} {
    padding: 40px 40px;
  }
}

.AuthInput {
  background: $lightest-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;
  font-size: $font-s;
  color: $darkest-grey;
  letter-spacing: -0.04px;
  padding: 8px 20px;
  margin-bottom: 10px;
  min-width: 300px;
  font-family: 'brandon-reg';

  @media #{$media-s} {
    min-width: 250px;
  }
}

.AuthInput:focus {
  outline: none;
  border: 1px solid $primary;
}

.AuthFormTitleText {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'brandon-reg';
  font-size: $font-l;
  color: $darkest-grey;
  letter-spacing: -0.09px;
}

.AuthSubmitButtonsContainer {
  flex-direction: row;
  margin-top: 30px;
}

.AuthButton {
  width: 100px;
  height: 40px;
  border: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100px;
  font-family: 'brandon-med';
  font-size: $font-s;
  letter-spacing: -0.1px;
  transition: 0.2s;
  box-sizing: border-box;
}

.AuthButton:hover {
  cursor: pointer;
}

.ButtonPrimary {
  background-color: $primary;
  color: $white;
}

.ButtonPrimary:hover {
  border: 2px solid $primary;
  color: $primary;
  background-color: $white;
}

.ButtonSecondary {
  border: 2px solid $primary;
  color: $primary;
  background-color: $white;
}

.ButtonSecondary:hover {
  background-color: $primary;
  color: $white;
}
