@import 'variables.scss';

// For a page that will have a sidebar and content
.PageContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

// For a the content within a page that has a sidebar
.MainContainer {
    background-color: $bg-light;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow: auto;
    padding-bottom: 50px;
}

.ContentContainer {
    width: 700px;
}

.Bold {
    font-family: 'brandon-med';
}

.Bolder {
    font-family: 'brandon-bld';
}

.ButtonPrimary {
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
}

.ButtonPrimary:hover {
    border: 2px solid $primary;
    color: $primary;
    background-color: $white;
}

.ButtonSecondary {
    color: $primary;
    border: 2px solid $primary;
    background-color: $white;
}

.ButtonSecondary:hover {
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
}

// A bunch of arbitrary spacers to help keep components clean
.Spacer1 {
    width: 10px;
}

.Spacer2 {
    height: 40px;
}
