@import 'variables.scss';

.SidebarContainer {
    background-color: $primary;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.SidebarAppLogo {
    width: 20px;
}

.SidebarItemsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.SidebarItem {
    display: flex;
    flex-direction: row;
    color: $white;
    margin-top: 50px;
    align-items: center;
    width: 150px;
}

.SidebarIcon {
    width: 35px;
    margin-right: 20px;
}

.SidebarText {
    font-size: $font-s;
}

.SidebarText:hover {
    cursor: pointer;
    font-family: 'brandon-bld';
}
