@import '../variables.scss';
@import '../shared.scss';

.JobsContentContainer {
    padding-top: 100px;
}

.JobPostsTitleText {
    font-family: 'brandon-med';
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.NewJobPostButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    border-radius: 10px;
    padding: 20px;
    margin-top: 80px;
    transition: $button-transition;
}

.NewJobPostButton:Hover {
    cursor: pointer;
    background-color: $primary-darker;
}

.PlusIcon {
    height: 30px;
    margin-right: 20px;
}

.NewJobPostButtonText {
    font-family: 'brandon-bld';
    color: $white;
    font-size: $font-m;
}
