@import '../variables.scss';
@import '../shared.scss';

.JobsContentContainer {
    padding-top: 100px;
}

.JobPostsTitleText {
    font-family: 'brandon-med';
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.DropdownsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
