@import '../variables.scss';
@import '../shared.scss';

.DeleteButton {
    padding: 5px 20px;
    border: 2px solid $dark-grey;
    color: $dark-grey;
    background-color: $white;
}

.DeleteButton:hover {
    border: 2px solid $dark-grey;
    background-color: $dark-grey;
    color: $white;
}
