@import '../variables.scss';
@import '../shared.scss';

.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-bottom: 10px;
    height: 50px;
}

.Container p {
    font-size: $font-m;
    width: 200px;
}

.Container input {
    font-size: $font-m;
    padding: 8px 20px;
    min-width: 300px;
    flex: 1;
}

.StaticText {
    padding: 8px 20px;
    border: 1px solid $white;
    color: $grey;
    font-family: 'brandon-bld';
}
