@import '../../variables.scss';
@import '../../shared.scss';

.Container {
    position: relative;
}

.DropdownBox {
    background-color: $lightest-grey;
    border: 1px solid $lightish-grey;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    margin-right: 25px;
}

.DropdownBox:hover {
    cursor: pointer;
    background-color: $light-grey;
}

.DropdownBox p {
    font-family: 'brandon-med';
    font-size: 14px;
    color: #565656;
    letter-spacing: -0.05px;
}

.DropdownBox img {
    height: 12px;
    margin-left: 10px;
}

.DropdownContent {
    position: absolute;
    background-color: $white;
    border: 1px solid $lightish-grey;
    border-radius: 3px;
    margin-top: 15px;
    z-index: 100;
}

.DropdownContent p {
    padding: 10px 20px;
    font-size: $font-xs;
}

.DropdownContent p:hover {
    cursor: pointer;
    background-color: #D2E1FF;
}
