@import '../../shared.scss';

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
